.bg-img {
  background: url('../../assets/wallpapers/landing-page.jpg') center center / cover no-repeat;
}
.card {
  width: 300px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

form {
  width: 100%;
}

button {
  margin-top: 1rem;
}
