<div class="h-5rem flex justify-content-between align-items-center">
  <a
    class="flex align-items-center hover:text-color-secondary cursor-pointer"
    (click)="onBackClick()"
  >
    <i class="pi pi-angle-left" style="font-size: 2rem"></i>
    <h3>Back</h3>
  </a>
  <button
    (click)="showPayment()"
    [disabled]="seatSelected.length === 0"
    [ngClass]="{
      'cursor-pointer hover:bg-secondary hover:text-white': seatSelected.length > 0,
      'opacity-40': seatSelected.length === 0
    }"
    class="w-10rem h-3rem bg--primary border-secondary text-secondary border-round"
  >
    Pay
  </button>
</div>
<div class="w-full h-5rem flex align-items-center px-5 gap-3">
  @for (item of showTime$ | async; track item; let index = $index) {
    <a
      (click)="onChangeShowTime(item.id)"
      [ngClass]="showTimeSelected === item.id ? 'bg-secondary text-white' : ' text-secondary'"
      class="flex flex-column h-3rem justify-content-center px-5 border-round cursor-pointer border-secondary"
    >
      <p class="text-sm">{{ item.start | date: 'HH:mm' }} - {{ item.end | date: 'HH:mm' }}</p>
      <p class="text-sm"></p>
    </a>
  }
</div>
<div class="h-30rem mt-8 mx-auto sheet_container p-2 mx-5">
  <div class="flex h-3rem gap-5">
    <div class="flex gap-2">
      <div class="h-1rem w-1rem border-secondary border-round"></div>
      <p class="text-sm">Available</p>
    </div>
    <div class="flex gap-2">
      <div class="h-1rem w-1rem bg-secondary border-round"></div>
      <p class="text-sm">Selected</p>
    </div>
    <div class="flex gap-2">
      <div class="h-1rem w-1rem bg-gray-300 border-round"></div>
      <p class="text-sm">Sold</p>
    </div>
  </div>
  <div class="grid flex justify-content-center">
    <div class="col-6 flex flex-wrap w-full h-full gap-2 justify-content-center">
      @for (seat of seat$ | async; track seat; let index = $index) {
        <button
          [ngClass]="{
            'hover:bg-secondary border-secondary hover:text-white cursor-pointer':
              seat.isAvailable === 'TRUE',
            'bg-gray-300 pointer-events-none': seat.isAvailable === 'FALSE',
            'bg-secondary text-white': seatSelected.includes(seat.seatId)
          }"
          (click)="onSeatSelect(seat.seatId)"
          class="w-3rem bg--primary h-3rem border-secondary text-secondary border-round"
        >
          {{ index + 1 }}
        </button>
      }

      <div
        class="mx-auto mt-7 h-2rem w-30rem bg-white flex align-items-center justify-content-center border-round"
      >
        <strong class="text-secondary">SCREEN</strong>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Payment Confirmation"
  [(visible)]="isShowPaymentConfirm"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="flex mb-4">
    <strong class="w-10rem">Show Time ID</strong>
    <span>{{ showTimeId }}</span>
  </div>
  <div class="flex mb-4">
    <strong class="w-10rem">Seat ID:</strong>
    <span>{{ seatSelected.join(', ') }}</span>
  </div>
  <div class="flex mb-4">
    <strong class="w-10rem">Total Price:</strong>
    <span>{{ totalPrice }} VND</span>
  </div>
  <div class="mb-3">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg"
      alt=""
      style="width: 10rem"
    />
    <br />
    <small class="text-yellow-600"
      >Note: Please transfer <b>{{ totalPrice }} VND</b> before click on Book button</small
    >
  </div>
  <button class="btn-secondary px-5" (click)="onBookClick()">Book</button>
</p-dialog>
