<!-- <div class="flex align-items-center justify-content-center h-screen w-screen">
  <div class="flex flex-column align-items-center">
    <h1>Login Successfully!</h1>
    <p-button (onClick)="signout()" label="Sign Out"></p-button>
  </div>
</div> -->

<!-- <nav>
  <div class="text-center">
    <span (onClick)="signout()">Sign out</span>
  </div>
</nav> -->

<section>
  <div class="card">
    <p-carousel [value]="banners" [numVisible]="1" [numScroll]="1" [circular]="true">
      <ng-template let-banner pTemplate="item">
        <div class="text-center">
          <img [src]="banner.url" class="w-full" />
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>

<section>
  <h1 class="text-center text-4xl">ONGOING MOVIES</h1>

  <div class="flex flex-wrap justify-content-center gap-3">
    @for (movie of ongoingMovies; track $index) {
      <div class="card flex justify-content-center">
        <p-card [header]="movie.title" [subheader]="movie.genre" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <div class="h-30rem overflow-hidden">
              <img [src]="movie.poster" class="h-full" />
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-button (onClick)="onBookClick(movie)" label="Book" />
          </ng-template>
        </p-card>
      </div>
    }
  </div>
</section>

<section>
  <h1 class="text-center text-4xl">UPCOMING MOVIES</h1>

  <div class="flex flex-wrap justify-content-center gap-3">
    @for (movie of upcomingMovies; track $index) {
      <div class="card flex justify-content-center">
        <p-card [header]="movie.title" [subheader]="movie.genre" [style]="{ width: '360px' }">
          <ng-template pTemplate="header">
            <div class="h-30rem overflow-hidden">
              <img [src]="movie.poster" class="h-full" />
            </div>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-button (onClick)="onBookClick(movie)" label="Detail" severity="secondary" />
          </ng-template>
        </p-card>
      </div>
    }
  </div>
</section>
